<div class="login">
  <div class="row">
    <div class="login-triangle"></div>
    <div class=" login-header"></div>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
    <div class="ps-input-icon">
      <mat-icon>account_circle</mat-icon>
      <mat-form-field>
        <input matInput type="text" placeholder="Usuario" required #UserName ngModel name="UserName">
      </mat-form-field>
    </div>
    <div class="ps-input-icon">
      <mat-icon matPrefix>vpn_key</mat-icon>
      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" #Password ngModel name="Password" required>
      </mat-form-field>
    </div>
    <button mat-raised-button [disabled]="!loginForm.valid">Entrar</button>   
  </form>
</div>