$wordColor: #0078d7;
.login {
    width: 300px;
    margin: 16px auto;
    font-size: 16px;
  }
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color:$wordColor;
}

.login-header {
  margin-top: 0;
  margin-bottom: 0;
  background-color: $wordColor;
  background-image: url("../../assets/orion-full.png");
  background-size: contain;    
  background-repeat: no-repeat;
  background-position: center;     
  height: 80px;
  border: none;
  border-radius: 2px;
  padding-bottom: 3px;             
}

.ps-input-icon {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

//AM overrides
.mat-form-field {
  padding-top: 3px;  
  width: 100%;
}
.mat-raised-button {
  width: 100%;
  background-color: $wordColor;
  color: whitesmoke;
}
.mat-icon {
  padding-right: 10px;
}
// .mat-input-element {
//   caret-color: $wordColor;
// }
// .mat-form-field-ripple {
//   background-color: $wordColor !important;
// }

// .mat-form-field-prefix .mat-icon {
//   padding-right: 10px !important;
// }

  //Materialize overrides
// .btn {
//   width: 100%;
//   background-color: $wordColor;
// }

// .input-field .prefix.active {
//   color: $wordColor;
// }  
// input {
//   &[type=password],&[type=text]{
//     &:not(.browser-default):focus:not([readonly]) , {
//       border-bottom: 1px solid $wordColor;
//       -webkit-box-shadow: 0 1px 0 0 $wordColor;
//       box-shadow: 0 1px 0 0 $wordColor;
//       &+label{
//         color: $wordColor;
//       }      
//     }
//     &.valid{
//       &:not(.browser-default),
//       &:not(.browser-default):focus,
//       &:not(.browser-default):focus:not([readonly]){
//         border-bottom: 1px solid $wordColor;
//         -webkit-box-shadow: 0 1px 0 0 $wordColor;
//         box-shadow: 0 1px 0 0 $wordColor;
//       }
//     }
//   }
// } 