<div id="content-header">
    <div class="padding">
        <h1>Welcome</h1>
    </div>
</div>    
<div id="content-main">
    <div class="padding">
        <p>Choose the buttons below to add boilerplate text to the document by using the Word JavaScript API.</p>
        <br />
        <h3>Try it out</h3>
        <button id="emerson">Add quote from Ralph Waldo Emerson</button>
        <br /><br />
        <button id="checkhov">Add quote from Anton Chekhov</button>
        <br /><br />
        <button id="proverb">Add Chinese proverb</button>
    </div>
</div>
<br />
<div id="supportedVersion"/>

