<main>
    <section class="header">
        <div class="title">Complemento para Word de Orión</div>
        <div class="desc">Este complemento es una nota.</div>
    </section>
    <div class="body">
        <mat-list>
            <mat-list-item>
                <div class="ps-list-number">1</div>
                <p class="ps-list-desc">Selecione el modelo con la definición de variables que desea utilizar en la plantilla</p>
            </mat-list-item>
            <mat-list-item>
                <div class="ps-list-number">2</div>
                <p class="ps-list-desc">Agregué los campos de combinación de correspondencia del modelo en el lugar en donde quiere que sean reemplazados</p>
            </mat-list-item>
            <mat-list-item>
                <div class="ps-list-number">3</div>
                <p class="ps-list-desc">Cuando haya termiando de agregar los campos que necesita guarde la platilla y carguela en Oríon</p>
            </mat-list-item>
        </mat-list>
    </div>
</main>