$wordColor: #0078d7;
.mat-step-icon {
    background-color: $wordColor;
}
.header {
    padding: 20px;
    min-height: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;    
    .desc{
        margin-top: 15px;
    }
}
