<main class="mat-typography">
    <section class="header">
        <div class="mat-title">Complemento para Word de Orión</div>
        <div class="desc">Este complemento es una nota.</div>
    </section>
    <div class="body">
        <mat-vertical-stepper>
            <mat-step label="Seleccione el modelo">
                Selecione el modelo con la definición de variables que desea utilizar en la plantilla
            </mat-step>
            <mat-step label="Agregue los campos en la plantilla">
                Agregué los campos de combinación de correspondencia del modelo en el lugar en donde quiere que sean reemplazados
            </mat-step>
            <mat-step label="Salve la plantilla">
                Cuando haya termiando guarde la platilla y carguela en Oríon
            </mat-step>
            <mat-step label="Todo listo!">
                Ya puede empezar a crear y editar plantillas en Orión!, vaya a la pantalla principal para selecionar el modelo haciendo
                click <a routerLink="/home/main" class="router-link">Aqui!</a>
            </mat-step>
        </mat-vertical-stepper>       
    </div>
</main>