
$footer-font: "proxima-nova", sans-serif;
$footer-color: #333;
//$footer-hover: tint($footer-color, 50%);

.footer {  
  float: right;    
  //@include display(flex);
}

.text{
  color: $footer-color;
  font-family: $footer-font;
  font-size: 14px;
  font-weight: 200;
  margin-right: 5px;
  & a{
        //transition: all 0.3 ease;
        //@include transition(all 0.3s ease);
        text-decoration: none;
        color: $footer-color;
        &:hover{
            text-decoration: underline;
            //color: $footer-hover;
        }
    }
}

